Copie este conteúdo para um arquivo .env na raiz do projeto:

EXPO_PUBLIC_API_URL=http://192.168.1.100:5000/api

Substitua 192.168.1.100 pelo IP da sua máquina na rede local.

Para descobrir seu IP:
- Linux/Mac: ip addr | grep "inet " ou ifconfig
- Windows: ipconfig

Exemplo com IP diferente:
EXPO_PUBLIC_API_URL=http://192.168.0.50:5000/api

